.container {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  border: 1px dashed grey;
  flex-shrink: 0;
}

.header {
  cursor: pointer;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}
